 @import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

 
h1{
  font-family: 'Titan One', sans-serif;
  font-weight: bold;
  
}
h3{
  font-family: 'Titan One', sans-serif;
  font-weight:bolder;
  color: rgb(255, 255, 255);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  position: relative;
  background-color: black;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background: #939393 url('../../public/amazonia-papel.webp')  no-repeat fixed ;

  /* background: #939393 url('https://media.gettyimages.com/id/625585882/pt/foto/sunrise-at-the-a%C3%A7ai-market-ver-o-peso-bel%C3%A9m-brazil.jpg?s=1024x1024&w=gi&k=20&c=dS_zldig53VFVb44YUrAibWh7c8NzBLp41Rwpzi1NgY=')  no-repeat fixed ; */
  background-size: cover;
  z-index: -1;

 
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
